.container table , tr , td , th {
  border: white solid 0.5px;
  font-size: 20px;
  padding: 0;
  width: 450px;
}

.container td {
  text-align: center;
  width: 150px;
}

@media ( min-width : 1200px ) {

  .container table , tr , td , th {
    border: none;
  }

}

