.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 720px;
  justify-content: center;
  width: 100%;
}

@media ( min-width : 1200px ) {

  .container {
    height: 100vh;
  }
}
